language: node_js
node_js:
- stable
cache:
  yarn: true
  directories:
  - node_modules
install:
- yarn
script:
- yarn run lint
deploy:
  provider: npm
  email: joel@oblador.se
  api_key:
    secure: "xLaE+P3xu9na0dtvLZJh2GDnpe3GbnGTRXqC7v82UwfmyYkpYZIjurRuZVC31YpzwA5YQ/i/78ejeuyd0qleHx2qb8+vyOfPVxqGdGx+YSJaxYvmZ0XHf/0+CsiPBqznLAr1WFOmV1nIO8d5zG4IykUedeyblPqIdLC1eNXMtWP6HnrOnC3jN1tNksrsMAs2nBjHv5tbG18Clb4nmPol22zTllgMJjdFQAGMsvCKTXR1NWHhDRPXo4QL/FFXEEASQgmlsv19Nkv5/IrrvKIliIKNdg4GIAtP+/YBA8YX7jJjwot2UiF2jl4YVTAJuB8NtjDvgvPVP15Nd2vRQIrWmHlIhM4OrROMPrzmG1cFymB7H8IMOEPiF0fkrX4AI+wJlgIAMh35kiMO5bOFNQxNXGvlX7cVxJE28plThWYbaVHUnBriFGSSk07NjWu++pcU5gNHIQ1YVuZACILQsCYOTIzS8np/Nj+nTSU2264Aps1HCwSABfy0iuJQgty0lEqsBnS6rKgksihp+ZK9AoOeuTslypPgHL1QT2jj4l1UzaLr439GXc3JfKbVvl2O2vKwYaGh1AxqjVPOwMHuFgzIJ2CncqEJxTV/bQeJGKopUgbArnjti3zOQb4vDmzORi7wdD2K6OdbkfCF5z4jTy933QrGeuPl+vGIcbjheKxpGYw="
  on:
    tags: true
    repo: oblador/react-native-collapsible
    condition: "$TRAVIS_TAG =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+.*$"
